/* Enter your custom styles here */

.horizontalStickyness {
    position: sticky;
    left: 0;
}

.selectionButton {}

.tableWidth {
    min-width: 2800px;
}

.employeeSelect {
    background: none;
    border: none;
}

.employeeText {
    font-size: medium;
    left: 40px;
}

.leftZero {
    left: 0;
}