.horizontalStickyness {
    position: sticky;
    left: 0;
}

.selectionButton {}

.tableWidth {
    min-width: 2800px;
}

.employeeSelect {
    background: none;
    border: none;
}

#container-T2000---Detail--employeeSelect-arrow {
    left: 0;
}

#container-T2000---Detail--employeeSelect-label {
    font-size: medium;
    left: 40px;
}